.buttonContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.dot-button {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 1px solid black;
}
