.button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.dot-button:focus {
    outline: none !important;
}
.dot-button {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: black;
}
.dot-button-grey {
    background-color: #4c4c4c;
}
.light-on {
    background-color: #ec142c;
    box-shadow: 0 -4px 8px 4px rgba(0, 0, 0, .2), inset 0 -2px 8px #5c0404, 0 2px 20px rgba(255, 0, 0, .8);
}
.light-off, .light-on {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: .2s ease;
}
.light-off {
    background-color: #9c0404;
    box-shadow: 0 -1px 5px 1px rgba(0, 0, 0, .2), inset 0 -1px 9px #5c0404, 0 2px 8px rgba(255, 0, 0, .25);
}
.light-container {
    margin-left: "auto";
    margin-right: "auto";
    margin-top: "50px";
    margin-bottom: "20px";
}
.codefont-style {
    font-family: Courier New;
    font-size: 29px;
}
.split {
    column-count: 2;
}